/* https://9elements.com/css-rule-order/ */
*{
    margin:0;
    padding:0;
}

.main
{
    width:100%;
    height:100vh;
    background: linear-gradient(to top, transparent, 70%, rgb(0, 0, 0)), url("../images/stadium.jpg");
    background-position: center;
    background-size: cover;
}

.icon
{
    float:left;
    width:15%;
    height:70px;
}

.logo
{
    width:100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.inputPrompt
{
    float:left;
    margin-top:1.7em;
    line-height: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.requiredStar
{
    float:left;
    margin-top:1.25em;
    margin-left:2px;
    line-height:0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}

.loginbutton
{
    float:right;
    margin-top: 10px;
    margin-right:20px;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/football-ball.png");
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.loginbuttoneng
{
    float:right;
    margin-top: 10px;
    margin-right:20px;
    padding: 10px;
    border: 1px solid rgb(0, 157, 255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 157, 255);
}

.loginbutton:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#title 
{  
    margin: 2% 5%; 
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.loginDiv
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-top:12%;
    margin-left:35%;
    border: 1px solid aquamarine;
    border-radius: 3px;
    width: 30%;
    height: fit-content;
    padding: 25px;
    background-color: rgb(22, 23, 33,.7);
    font-size: 40px;
    text-align: center;
}

.dologinbutton
{
    float:right;  
    border-radius: 5px;
    margin-top:5%;
    margin-right: 30%;
    border: 1px solid aquamarine;
    width:40%;
    padding: 10px;
    background:transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.dologinbutton:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}


.logoutButton
{
    color:aquamarine;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px brown;
    float:right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
}    

.logoutButton:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#accessUIDiv
{      
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-top:10%;
    margin-left:20%;
    border: 1px solid aquamarine;
    border-radius: 3px;
    width: 60%;
    height: fit-content;
    padding: 20px;
    background-color: rgb(22, 23, 33,.7);
    font-size: 30px;
    text-align: center;
}



#accessUITitle
{
    border-bottom: 3px solid aquamarine;
    margin:auto;
    width:fit-content;
    
    padding: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:aquamarine;
}

#loginName
{
    width:100%;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px;
}

#loginPassword
{
    margin-top:0%;
    width:100%;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px; 
}

#loginPassword2
{
    width:100%;
    border-radius: 3px;
    border-width: 0;
    font-size: 25px; 
}

#searchText
{
    float:left;
    margin-top:5%;
    width:85%;
	font-size: 25px;
}

input[type="text"],input[type="password"]
{   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.addText
{
    
    width:100%;
    height: 10px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px;
}

.addbutton
{ 
    border-radius: 5px;
    border: 1px solid aquamarine;
    background:transparent;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

#searchContactButton
{
    display:inline;
    margin-top:4.5%;
    margin-left: 2%;
    width:13%;
    padding:5px;
    font-size: 20px;
}

#addContactButton
{
    width:fit-content;
    padding:10px;
    font-size:.7em;
}

.addbutton:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}


#inner-title
{
    display: inline-block;  
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 157, 255);
}

.actionBtn
{
    float: left; 
    margin-top: 20px;
    margin-left: 20px;
    border-top:0px;
    border-bottom: 1px solid aquamarine;
    border-left:0px;
    border-right:0px;
    width: fit-content;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: aquamarine;
}

.actionBtn:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#loginResult
{
    line-height: normal;
}

.signupResult
{
    margin-top:5%;
    width: 100%;
    height: fit-content;
    font-size: .4em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
    text-align: center;
    line-height: .5em;
    color: rgb(219,171,37);
}

#userName
{
    float:right;
    margin-top: 11px;
    margin-right: 20px;
    height:fit-content;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:aquamarine; 
}

select
{
    margin-left: 35%;
    margin-top: 2%;
    width: 30%;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}

#contactSearchResult
{
    display: inline-block;
    margin-right: 15%;
    width: 90%;
    font-size: .4em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    text-align: center;
    color: aquamarine; 
}

.hidden
{
    display: none;
}

#contactAddResult
{
    display: inline-block; 
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90%;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aquamarine;
}

#SearchTable
{
	color: rgb(255, 255, 255);
}

#tableHeader
{
	color: aquamarine; 

}

th
{
	color: aquamarine; 
}

table
{
	position:relative;
	top: 5%;
	width: 100%;
	border-collapse: collapse;
	
}

td, th
{
	border: 1px solid #F5F5DC;
  	text-align: center;
  	padding: 5px;
}

p
{

	text-align: center;
	width:100%;
   	padding: 20px;
    	font-family: Arial, Helvetica, sans-serif;
        color:aquamarine;
	
}

#remove
{
    border-radius: 5px;
    border: 1px solid aquamarine;
    background:transparent;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
    display:inline;
    margin-left: 1%;
    width:fit-content;
    padding:5px;
    font-size: 20px;
}

#remove:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#edit
{
    border-radius: 5px;
    border: 1px solid aquamarine;
    background:transparent;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
    display:inline;
    margin-left: 5%;
    width:fit-content;
    padding:5px;
    font-size: 20px;
	
}

#edit:hover
{
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}


.button
{
    border-radius: 5px;
    border: 1px solid aquamarine;
    background:transparent;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
    display:inline;
    margin-top:2%;
    margin-left: 5%;
    width:fit-content;
    padding:5px;
    font-size: 20px;
	
}

.button:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}




.removemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .removemodal-content {
    background-color: rgb(0, 0, 0);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  .removemodal-content p {
    position: relative;
    top: -15px;

    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    margin-left: 3%;
    width:fit-content;
    font-size: 25px;
    text-align: center;
    }


   #delconfirm {
	position: relative;
	left: 28%;
   }

   #delcancel {
	position: relative;
	left: 28.2%;
   }


  .editmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .editmodal-content {
    background-color: rgb(0, 0, 0);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

