*{
    margin:0;
    padding:0;
}


.main
{
    width:100%;
    background: linear-gradient(to top, transparent, 35%, rgb(0, 0, 0)), url("../images/istock.jpg");
    background-position: center;
    background-size: cover;
    height:100vh;
}

.header
{
    width: 100%;
    height: 80px;
    margin: auto;
} 

.icon
{
    width:200px;
    float:left;
    height:70px;
}

.logo
{
    color:aquamarine;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginbutton
{
    color:aquamarine;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid aquamarine;
    float:right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right:20px;
}

.loginbuttoneng
{
    color:rgb(0, 157, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid rgb(0, 157, 255);
    float:right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right:20px;
}

.loginbutton:hover
{
    color:rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
}

.signupbutton
{
    color:aquamarine;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid aquamarine;
    float:right;
    font-size: 20px;
    border-radius: 5px;

    margin-top: 10px;
    margin-right: 20px;

}

.signupbuttoneng
{
    color:rgb(0, 157, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid rgb(0, 157, 255);
    float:right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right:20px;
}

.signupbutton:hover
{
    color:rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
}
#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.loginDiv
{
    font-size: 40px;
    text-align: center;
    width: 20%;
    height: 27%;
    margin-left: 32%;
    padding: 25px;
    background-color: rgb(22, 23, 33,.7);
    border: 1px solid aquamarine;
    border-radius: 20px;
    margin-top: 15%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.signupDiv
{
    font-size: 40px;
    text-align: center;
    width: 20%;
    height: 38%;
    margin-left: 32%;
    padding: 25px;
    background-color: rgb(22, 23, 33,.7);
    border: 1px solid aquamarine;
    border-radius: 20px;
    margin-top: 15%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.dologinbutton
{
    color:aquamarine;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid aquamarine;
    float:right;
    font-size: 20px;
    border-radius: 5px;

    margin-top: 20px;
    margin-right: 38%;
}

.dologinbutton:hover
{
    color:rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#firstName
{
    font-size: 25px;
    margin-right:10%;
}
#lastName
{
    margin-top:5%;
    font-size: 25px;
    margin-right:10%;
}
#loginName
{
    margin-top:5%;
	font-size: 25px;
    margin-right:10%;
}
#loginPassword
{
    margin-top:5%;
    margin-right:10%;
	font-size: 25px;
    
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(0, 157, 255);
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #95060a;
}
 