/* https://9elements.com/css-rule-order/ */
*{
    margin:0;
    padding:0;
}

.main
{
    width:100%;
    height:100vh;
    background: linear-gradient(to top, transparent, 70%, rgb(0, 0, 0)), url("../images/2.jpg");
    background-position: center;
    background-size: cover;
}

.icon
{
    float:left;
    width:15%;
    height:70px;
}

.logo
{
    width:100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.inputPrompt
{
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
    margin:0;
}


.loginbutton
{
    float:right;
    margin-top: 10px;
    margin-right:20px;
    padding: 10px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    background:transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.loginbuttoneng
{
    float:right;
    margin-top: 10px;
    margin-right:20px;
    padding: 10px;
    border: 1px solid rgb(0, 157, 255);
    border-radius: 5px;
    background:transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 157, 255);
}

.loginbutton:hover
{
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#title 
{  
    margin: 2% 5%; 
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.loginDiv
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border: 1px solid aquamarine;
    border-radius: 3px;
    width: 30%;
    height: fit-content;
    padding: 25px;
    background-color: rgb(22, 23, 33,.7);
    font-size: 40px;
    text-align: center;
}

.dologinbutton
{
    float:right;  
    border-radius: 5px;
    margin-top:3%;
    margin-right: 30%;
    border: 1px solid aquamarine;
    width:40%;
    padding: 10px;
    background:transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.dologinbutton:hover
{
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}


.logoutButton
{
    color:aquamarine;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background:transparent;
    border: 1px solid aquamarine;
    float:right;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
}    

.logoutButton:hover
{
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#accessUIDiv
{      
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;   
    border: 1px solid aquamarine;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
    padding: 25px;
    background-color: rgb(22, 23, 33,.7);
    font-size: 30px;
}

#accessUITitle
{
    padding: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:aquamarine;
}

.buttons
{   
    margin-left: 25%;
    border-radius: 25px;
    width: 50%;  
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#firstName
{
    margin-right:10%;
    font-size: 25px;
}

#lastName
{
    margin-top:5%;
    margin-right:10%;
    font-size: 25px;
}
#loginName
{
    margin-top:5%;
    margin-right:10%;
    margin-left:3%;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px;
}

#loginPassword
{
    margin-top:5%;
    margin-right:10%;
    margin-left:3%;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px; 
}

#searchText
{
	font-size: 25px;
}

input[type="text"],input[type="password"]
{   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.addText
{
    float:left;
    margin-top:3%;
    margin-left:10%;
    width:80%;
    height: 10px;
    padding: 10px;
    border-radius: 3px;
    border-width: 0;
	font-size: 25px;
}

.addbutton
{
    float:right;  
    border-radius: 5px;
    margin-right: 40%;
    margin-top: 2%;
    border: 1px solid aquamarine;
    width:20%;
    padding: 10px;
    background:transparent;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:aquamarine;
}

.addbutton:hover
{
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}


#inner-title
{
    display: inline-block;  
    margin-bottom: 2%;
    width: 100%;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 157, 255);
}

.actionBtn
{
    float: left; 
    margin-top: 20px;
    margin-left: 20px;
    border-top:0px;
    border-bottom: 1px solid aquamarine;
    border-left:0px;
    border-right:0px;
    width: fit-content;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: aquamarine;
}

.actionBtn:hover
{
    border-color: rgb(0, 157, 255);
    color:rgb(0, 157, 255);
}

#loginResult
{
    display: inline-block;
    width: 90%;
    font-size: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    text-align: center;
    color: rgb(219,171,37);
}

.signupResult
{
    margin-top:2%;
    margin-left:20%;
    width: 60%;
    height: fit-content;
    font-size: .4em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
    text-align: center;
    color: rgb(219,171,37);
}

#userName
{
    float:right;
    margin-top: 11px;
    margin-right: 20px;
    height:fit-content;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:aquamarine; 
}

select
{
    margin-left: 35%;
    margin-top: 2%;
    width: 30%;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}

#contactSearchResult
{
    display: inline-block;
    margin-right: 15%;
    width: 90%;
    font-size: .4em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    text-align: center;
    color: rgb(219,171,37);
}

#contactAddResult
{
    display: inline-block; 
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90%;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(219,171,37);
}

#searchTable
{
	color: rgb(219,171,37);
}
